# Python Preparation for Data Science
## 2: Simple Data Types and Operations

Python has four simple built-in data types. We will refer to these as the atoms of the language. These are the primitive data structures from which we will also construct other data structures. In this tutorial we will consider various operations on the atoms. 

The four "atoms" are:

- *Integer*: a numeric datatype
- *Float*: another numeric datatype
- *String*: a sequence of characters
- *Boolean*: takes the value True, False

We also attach a 'name' or 'label' to these objects using "variables.

## Integers and Floats

#### Arithmetic Operators

- We can perform the following familiar operations on integers and floats: +, -, *, /, **
- Also two possibly unfamiliar operations: //, %

In [1]:
# addition
3 + 16

19

In [2]:
# subtraction
299 - 32

267

In [3]:
299 - 33.5

265.5

In [4]:
# multiplication
23 * 255

5865

In [5]:
23.2 * 11.3

262.16

In [6]:
# division
555/33

16.818181818181817

In [8]:
# exponentiation
2 ** 8

256

In [10]:
# floor division, returns the integer part
55//24

2

In [11]:
# modulo division, returns the decimal part
55 % 24

7

In [12]:
# let's start to use variables
pi = 3.14159
radius = 25

In [13]:
# calculate area
area = pi * radius**2

In [14]:
area

1963.4937499999999

## Boolean

- Boolean has two possible values: True or False
- There are three logical operators: and, or, and not

In [15]:
alpha = True
beta = False

In [16]:
alpha and beta

False

In [17]:
alpha or beta

True

In [18]:
not alpha

False

In [19]:
not beta

True

## String

String is a sequence of characters. We will look at two basic operations: +, *

In [20]:
first = "Emily" 
last = "Noether"

In [21]:
first + last

'EmilyNoether'

In [22]:
first + " " + last

'Emily Noether'

In [24]:
last + ", " + first

'Noether, Emily'

In [25]:
first*2

'EmilyEmily'

In [26]:
first*2 + last*3

'EmilyEmilyNoetherNoetherNoether'